.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: $bg-color;
  h1 {
    text-align: center;
    margin-top: 60px;
  }
}
