.ProductListItem {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  height: fit-content;

  @media screen and (min-width: $large) {
    background-color: rgba(255, 255, 255, 0.623);
    &:first-child {
      padding-left: 40px;
    }
    &:last-child {
      padding-right: 40px;
    }
  }
  .product_box {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      background-color: rgb(249, 239, 252);
      padding: 20px;
      border-radius: 10px;
    }
  }
}
